@import "tailwindcss";
@font-face {
    font-family: 'Work Sans';
    src: url('assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf') format('truetype');
}

@theme {
    --color-primary: #121212;
    --color-subtle-1: #61646B;
    --color-subtle-2: #AFB1B6;
    --color-background: #E0E0E0;
    --color-surface: #FAFAFA;
    --font-worksans: 'Work Sans', sans-serif;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #121212;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
