@import "tailwindcss";

@font-face {
    font-family: 'Work Sans';
    src: url('assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf') format('truetype');
}

@theme {
    --color-primary: #121212;
    --color-subtle-dark: #61646B;
    --color-subtle-light: #AFB1B6;
    --color-background: #E0E0E0;
    --color-surface: #FAFAFA;
    --color-background-dark: #43464D;
    --font-worksans: 'Work Sans';
}

body {
    font-family: var(--font-worksans), monospace, serif, sans-serif;
    color: var(--color-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
